* {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
}

.logo {
    padding-top: 10px;
    margin-left: 10px;
    width: 32px;
    height: 40px;
    position: absolute;
    left: 44px;
    right: 37.43%;
}

body {
    background-color: #E5E5E5;
}

main {
    display: flex;
    margin-left: 80px;
    margin-bottom: 50px;
}

.mensaje {
    background: white;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    position: absolute;
    margin-top: 20px;
    margin-left: 90px;
    padding-left: 20px;
    background-image: url("/imagenes/Muñeco.png");
    background-repeat: no-repeat;
    background-position: 18px;
    background-size: 300px;
    width: 340px;
    height: 599px;
}

.encriptar {
    background-color: #495057;
    border: 1px solid #0A3871;
    color: white;
    border-radius: 24px;
    cursor: pointer;
    height: 67px;
    width: 320px;
}

.desencriptar {
    margin-left: 30px;
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    width: 320px;
}

.informacion {
    font-size: 15px;
    margin-top: 270px;
    left: 20px;
}

.copiar {
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    position: relative;
    margin-top: 510px;
    margin-left: 120px;
    width: 320px;
}

.botones {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    left: 20px;
}

.input-texto {
    border: none;
    color: #0A3871;
    margin-top: 90px;
    text-transform: lowercase;
    width: 577px;
    height: 100px;
    left: 20px;
}

::placeholder {
    color: #0A3871;
    font-family: 'inter';
    font-size: 20px;
    line-height: 48px;
}

.input-texto.focus {
    outline: none;
}

.informacion {
    color: #495057;
    font-size: 12px;

}